<div class="navbar-lewagon">
  <%= link_to cl_image_tag("cocktail-solid_cwn8vs", width: 30, height: 30), root_path %>
  <div>
    <%= link_to "→ See cocktails", cocktails_path, {class: "btn btn-primary"} %>
    <%= link_to "+ Add cocktail", new_cocktail_path, {class: "btn btn-success"} %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="mt-3">Create a new cocktail</h1>
      <div class ="new-cocktail-form mt-3 p-3">
        <%= simple_form_for (@cocktail) do |f| %>
          <%= f.input :name %>
          <label class="btn btn-success">
            + Upload picture (optional)
            <span style="display:none;">
              <%= f.input :photo, as: :file %>
            </span>
          </label>
          <br>
          <%= f.button :submit, "+ Create new cocktail", class: "btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
