<h1> <%= @cocktail.name %> </h1>

<ul>
  <% @doses.each do |dose| %>
    <li>
      Ingredient: <%= dose.ingredient.name %> -
      Dose: <%= dose.description %> -
      <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

 <%= link_to "Add ingredient/dose combination", new_cocktail_dose_path(@cocktail) %>
