<div class="navbar-lewagon">
  <%= link_to cl_image_tag("cocktail-solid_cwn8vs", width: 30, height: 30), root_path %>
  <div>
    <%= link_to "→ See cocktails", cocktails_path, {class: "btn btn-primary"} %>
    <%= link_to "+ Add cocktail", new_cocktail_path, {class: "btn btn-success"} %>
  </div>
</div>

<% if @cocktail.photo.attached? %>
  <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key %>)">
    <h1> <%= @cocktail.name %> </h1>
  </div>
<% else %>
  <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path("home-banner_zi8jq0", :quality=>"auto")%>)">
    <h1> <%= @cocktail.name %> </h1>
  </div>
<% end %>

<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
      <h1>Ingredients</h1>
      <% @cocktail.doses.each do |dose| %>
        <div class="ingredient mb-3 mt-3">
          <span>
            <%= dose.ingredient.name %> -
            <%= dose.description %>
          </span>
          <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
      <div class="ingredient-sticky">
        <h1>Add ingredient</h1>
        <div class="ingredient-input mt-3 mb-3 p-3">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient %>
            <%= f.button :submit, '+ Add ingredient', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
